<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>200077725701-nd27c97hkno6rjfiht9q59tvaf6vheji.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.200077725701-nd27c97hkno6rjfiht9q59tvaf6vheji</string>
	<key>API_KEY</key>
	<string>AIzaSyD0z8jaYFUO358OlZ7M2mfDLXecbqbEdl8</string>
	<key>GCM_SENDER_ID</key>
	<string>200077725701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notesApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-personal-notes</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-personal-notes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:200077725701:ios:9df3e6857721019fcd8c6c</string>
</dict>
</plist>